*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Playfair;
    src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
h1{font-family: Playfair; user-select: none;}
p{font-family: Roboto;}
img{-webkit-user-drag: none;}
header{
    height: 100svh;
    background-color: #0891B2;
    padding: 2rem 8rem;
}
.headerContent{
    height: 100%;
    display: flex;
    align-items: center;
}
.headerImg{
    width: 40%;
    height: 70%;
    position: relative;
}
.headerImg img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.headerText{
    padding: 2rem 4rem 2rem 2rem;
    height: 60%;
    background-color: white;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.headerText h1{
    font-size: 3rem;
}
.headerText p{
    font-size: 1rem;
    line-height: 1.5rem;
}
.headerIcons{
    display: flex;
    justify-content: flex-end;
}
.headerIcons img{
    width: 4rem;
    height: 4rem;
    transition: 500ms ease-in;
}
.headerIcons img:hover{
    cursor: pointer;
    filter: invert(38%) sepia(25%) saturate(7319%) hue-rotate(168deg) brightness(96%) contrast(94%);
}
.projects{
    padding: 8rem 8rem;
    height: 200svh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.projects h1{
    font-size: 5rem;
}
.workContainer{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.projectsTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60svh;
}
.projectsBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60svh;
}
.project{
    background-color: white;
    width: 25%;
    height: 60svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.projectImage{
    height: 60%;
    width: 100%;
    position: relative;
}
.projectImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.projectText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    height: 40%;
    width: 100%;
}
.projectText h1{
    font-size: 2rem;
}
.projectHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.projectIcons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.projectIcons img{
    width: 2rem;
    height: 2rem;
    transition: 500ms ease-in;
}
.projectIcons img:hover{
    cursor: pointer;
    filter: invert(38%) sepia(25%) saturate(7319%) hue-rotate(168deg) brightness(96%) contrast(94%);
}
footer{
    height: 100svh;
    background-color: #0891B2;
    padding: 4rem 8rem;
}
.footerContent{
    height: 100%;
    display: flex;
    align-items: center;
}
.footerText{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerImage{
    height: 100%;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footerImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.footerText h1{
    color: white;
    font-size: 4rem;
}
.footerText p{
    color: white;
    font-size: 2rem;
}
.contactInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contactItem{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contactInfo img{
    width: 2rem;
    height: 2rem;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(101%);
}
.footerIcons{
    display: flex;
    gap: 1rem;
}
.footerIcons img{
    width: 4rem;
    height: 4rem;
}

@media only screen and (max-width: 600px){ 
    header {
        height: 100svh;
        background-color: #0891B2;
        padding: 1rem 1rem;
    }
    .headerContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headerImg {
        width: 100%;
        height: 50%;
        position: relative;
    }
    .headerImg img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    .headerText {
        padding: 1rem;
        background-color: white;
        width: 100%;
        height: 50%;
    }
    .headerText h1 {
        font-size: 1rem;
    }
    .headerText p {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .headerIcons {
        display: flex;
        justify-content: flex-end;
    }
    .headerIcons img {
        width: 2rem;
        height: 2rem;
        transition: 500ms ease-in;
    }
    .headerIcons img:hover {
        cursor: pointer;
        filter: invert(38%) sepia(25%) saturate(7319%) hue-rotate(168deg) brightness(96%) contrast(94%);
    }
    .projects {
        padding: 1rem;
        height: 200svh;
        justify-content: start;
    }
    .projectsTop{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .projectsBottom{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .projects h1 {
        font-size: 3rem;
        text-align: center;
    }
    .workContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        height: 100%;
    }
    
    .project {
        width: 55%;
        height: 25svh;
    }
    .projectImage {
        height: 50%;
        width: 100%;
        position: relative;
    }
    .projectImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    .projectText {
        padding: 0.5rem;
        height: 50%;
    }
    .projectText h1 {
        font-size: 0.8rem;
    }
    .projectText p{
        font-size: 0.6rem;
    }
    .projectIcons {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;
    }
    .projectIcons img {
        width: 1rem;
        height: 1rem;
        transition: 500ms ease-in;
    }
    .projectIcons img:hover {
        cursor: pointer;
        filter: invert(38%) sepia(25%) saturate(7319%) hue-rotate(168deg) brightness(96%) contrast(94%);
    }
    footer {
        height: 100svh;
        background-color: #0891B2;
        padding: 1rem 1rem;
    }
    .footerContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerText {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0rem;
        text-align: center;
    }
    .footerImage {
        height: 50%;
        width: 100%;
        position: relative;
    }
    .footerImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    .footerText h1 {
        font-size: 2rem;
    }
    .footerText p {
        font-size: 0.75rem;
    }
    .contactInfo {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    .contactItem {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .contactInfo img {
        width: 1rem;
        height: 1rem;
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(101%);
    }
    .footerIcons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
    .footerIcons img {
        width: 2rem;
        height: 2rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1200px){
    header{
        padding: 2rem 2rem;
    }
    .headerImg{
        width: 50%;
        height: 70%;
    }

    .headerText{
        width: 50%;
        height: 70%;
        padding: 2rem 2rem;
    }
    .headerIcons img{
        width: 3rem;
        height: 3rem;
    }
    .workContainer{
        height: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .projectsTop{
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .projectsBottom{
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }
    .project{
        width: 95%;
        height: 25svh;
    }
    .projects h1{
        font-size: 3rem;
    }
    .project h1{
        font-size: 1rem;
    }
    .project p{
        font-size: 0.75rem;
    }
    .projectText{
        padding: 0.5rem 0.5rem;
        gap: 0.2rem;
    }
    .projectIcons{
        gap: 0.25rem
    }
    .projectIcons img{
        width: 1.5rem;
        height: 1.5rem;
    }
    .projects{
        height: 100svh;
        padding: 2rem 6rem;
        gap: 1rem;
    }
    .projectHeading{
        align-items: normal;
    }
    footer{
        padding: 2rem 2rem;
    }
    .footerImage{
        height: 55%;
        width: 45%;
    }
    .footerText{
        height: 45%;
        width: 55%;
    }
    .footerText h1{
        font-size: 2rem;
    }
    .footerText p{
        font-size: 1rem;
    }
    .footerIcons img {
        width: 3rem;
        height: 3rem;
    }
}